 <%- include('../layouts/header.ejs') -%>

<div class="text-center center-div container-fluid p-5" id="login">
    <div class="container shadow p-3 mb-5 bg-body rounded w-25 border py-5">
        <div>
            <img src="/public/assets/images/basket.png" alt="">
        

        </div>
       
          <h1 style="margin:1; color:green">
            <!-- <%= message %>  -->
            ! ERROR
        </h1>
        <h1>
            <!-- <%= errorstatus %> -->
        </h1> 
        <div> 
            <img src="/static/assets/images/error.jpg"   style="width: 220px; height:240px" alt="">
        

        </div>
            <a href="/admin/home">
                <button class=" btn btn-success btn-lg-square"> 
                    Go To Home
                </button>
            </a>      
    </div>
</div>


<%- include('../layouts/footer.ejs') -%> 

