<%- include('../layouts/header.ejs') -%>


<div class="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color:rgb(4, 156, 100);">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>                      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/admin/home/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/product/">Product</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/categories">Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/user">User</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/order">Order</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/coupon">Coupon</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/report">Reports</a>
            </li>
          
          </div>
 
           <div style="float: right;">
            <!-- <li>           
              <form class="d-flex align-items-end " >
                <input class="form-control me-2" type="search" placeholder="Search"  aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>                    
            </li>                  -->
            </ul>
              <ul class="navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/logout">LogOut</a>
                </li>
              </ul>
            </div>
          </nav>
  </div>

                
</header>

<body>

  <!-- MDB -->
<script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"
></script>

