<div class="toast" id="myToast" data-delay="3000">
    <div class="toast-header">
      <strong class="mr-auto">toast</strong>
      <small>Just now</small>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
    </div>
    <div class="toast-body">
      This is a Bootstrap toast message.
      
    </div>
  </div>
  